*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Wrapper{
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

.container{
    position: relative;
    display: flex;
    height:100%;
    width:100%;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}

.background{
    transform:translateZ(-39px) scale(5);
}

.foreground{
    transform:translateZ(-20px) scale(3);
}

.background, .foreground{
    position: absolute;
    height: 100%;
    width:100%;
    object-fit: cover;
    z-index: -1;

}

h1{
    position:absolute;
    font-size: 10rem;
    /* font-family: cursive; */
    top:5rem;
    letter-spacing: 4px;
    color:white;
    text-shadow: 0 0 10 rgb(0, 0, 0, 0.3);
}